<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content for search panel-->
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="documentName">Document Title</option>
        <option value="documentId">Document Id</option>
      </select>
	  
	  
	  <!--Sidebar content for List of files-->
	  <legend>List of files</legend>
	  <fieldset style="border:solid 1px black">
	  <ul class="filelist">
        <li ng-repeat="document in documents | filter:query | orderBy:orderProp" >
          <a ng-click="displayPreview($index)">{{document.documentId}}</a><br/>
          <a ng-click="displayPreview($index)">{{document.documentName}}</a><br/>
        </li>
      </ul>
	  </fieldset>
    </div>
	
	<iframe src={{previewUrl}}></iframe>
  </div>
</div>


